body {
  overflow-x: hidden;

  margin: 0;
  font-family: "Roboto", sans-serif
}

.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: #4a90e2;
  color: #ffffff;
  padding: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
  -webkit-box-shadow: 9px 6px 23px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 9px 6px 23px 1px rgba(0, 0, 0, 0.8);
  border-radius: 0px 0px 10px 10px;
}

.menu-logo {
  line-height: 0;
  margin: 0 20px;
  transform: scale(1.5);
}

.menu-logo img {
  max-height: 40px;
  max-width: 100px;
  flex-shrink: 0;
}

.menu-container a {
  text-decoration: none;
  color: #4a90e2;
  transition: all 0.3s ease-in-out;
}

.menu-container a:hover {
  color: #00d5ff;
  transform: scale(1.7);
}

.menu-container input {
  display: block;
  width: 35px;
  height: 25px;
  margin: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menu-container span:first-child {
  transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-container input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(3px, -1px);
  background: #4a90e2;
}

.menu-container input:checked ~ span:nth-child(4) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked ~ span:nth-child(3) {
  transform: rotate(-45deg) translate(-5px, 11px);
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

/* mobile styles */
@media only screen and (max-width: 767px) {
  .menu-container {
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .menu-logo img {
    max-height: 30px;
  }

  .menu {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    right: -300px;
    top: 0;
    margin: -20px;
    padding: 75px 50px 50px;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .menu-container input:checked ~ .menu {
    transform: translateX(-100%);
  }
}
a {
  cursor: pointer;
}
/* desktop styles */
@media only screen and (min-width: 768px) {
  .menu-container {
    width: 100%;
  }

  .menu-container a {
    color: #ffffff;
  }

  .menu-container input {
    display: none;
  }

  /* Burger menu */
  .menu-container span {
    display: none;
  }

  .menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    padding: 0;
  }

  .menu li {
    padding: 0 20px;
  }
}

@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  font-family: Roboto, Helvetica, sans-serif;
}
.button {
  position: relative;
  border: 1px solid undefined;
  background: initial;
  background-color: #ffffff;
  border-radius: 3px;
  color: #005cb9;
  font-size: 13px;
  font-weight: 500;
  font-family: Roboto, Helvetica, sans-serif;
  height: 32px;
  padding: 0 16px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}
.button:hover:not(:disabled):not(:active) {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
.button:active:not(:disabled) {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3) inset;
}
.button--primary {
  background-color: #005cb9;
  border-color: #005cb9;
  color: #ffffff;
}
.button--primary:hover:not(:disabled) {
  background-color: #004a94;
  border: 1px solid #004a94;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
.button--primary:active:not(:disabled) {
  background-color: #004a94;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3) inset;
}

.popup-overlay {
  visibility: hidden;
  transform: translateX(-50%) translateY(-50%) scale(1);
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.7);
}
.popup-content {
  visibility: hidden;
  transition: all 300ms ease;
  border: 1px solid #666666;
  border-radius: 3px;
}
.popup-overlay.active {
  visibility: visible;
}
.popup-content.active {
  visibility: visible;
}

h1 {
  color: #4a90e2;
  font-size: 40px;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap");

.btn {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: #fff;
  background-color: #0066cc;
  padding: 10px 30px;
  border: 2px solid #0066cc;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  padding: 10px 50px;
  transform: scale(1.2);
  background-color: #00bd23;
  color: #2f6c00;
  border: solid 2px #2f6c00;
}
div {
  padding: 13px;
}
.elenco_background {
  -webkit-box-shadow: 9px 6px 23px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 9px 6px 23px 1px rgba(0, 0, 0, 0.8);
  background-color:white;
  width: 230px;
  height: auto;
  padding-bottom: 10px;
  border-radius: 10px;
  position:relative;
  margin-left: 55px;
  float:left;
  margin-top: 16px;
  transition: all 0.2s ease-in-out
}
.elenco_background:hover {
  transform: scale(1.3);
  z-index:9999;
  
}
.elenco_titolo {
color:rgb(0, 162, 255);
  
}
.elenco_description {
  color:rgb(41, 41, 42);
    font-size: 17px;
  }
a {
  color:#004a94
}
  a:link { text-decoration: none; }


  a:visited { text-decoration: none; }
  
  
  a:hover { text-decoration: none; }
  
  
  a:active { text-decoration: none; }